.image-input {
  margin-top: 24px;
  width: fit-content;
  min-width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid #c4c4c4;
  align-items: center;
  padding: 14px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
}

.image-input:hover {
  border: 1px solid #212121;
}

.profile-image {
  height: 190px;
  max-width: 315px;
}
