.PostCard-content-wrapper {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s ease-in-out;
}

.PostCard-content-wrapper--rotate {
  transform: rotateY(180deg);
}

.PostCard-content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  --webkit-backface-visibility: hidden;
  background: #fff;
}

.PostCard-content-back {
  transform: rotateY(180deg);
}